/* Font style */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    /* background-color: white; */
}

header , .party{
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
}

/* Header Style Section */

.banner {
    margin-top: 50px;
}
.banner-img{
    background-image: url('resources/Banner\ Image.png');
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px; 

}
.banner-content{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.banner-sub-title{
    padding-top: 177px;
    padding-bottom: 16px;
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-weight: 400;
}

.banner-title{
       
        color: #FFF;
        text-align: center;
        font-size: 72px;
        font-weight: 900;
        line-height: 95px;
        /* 131.944% */
}

 /* MAIN section */

/* Discount Section Style */

.discount{
        width: 60%;
        max-width: 1320px;
        margin: 0 auto;
}
.discount-img{
    height: 500px;
    padding-bottom: 120px;
}
.discount-title{
    color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 88px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 120px;
        padding-bottom: 48px;
}

.discount-des{
    color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 16px;
}
.discount-sub-title{
    color: #070211;
        text-align: center;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 48px;
}

/* Party Section Style */

.party-img{
    background-image: url('resources/Vectorrr.png');
  border-radius: 16px;
}
.party-content{
    display: flex;
    gap: 70px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    padding-left: 126px;
    padding-right: 70px;
}
.party-title{
    color: #FFF;
        font-family: Merriweather;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 88px;
        /* 137.5% */
        letter-spacing: 7.04px;
        padding-top: 126px;
        padding-bottom: 24px;
}
.party-des{
    color: rgba(255, 255, 255, 0.80);
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        /* 166.667% */
        padding-bottom: 48px;
}
.party-btn{
    color: #ffffff;
        font-family: Inter;
        font-size: 20px;
        text-transform: uppercase;
    margin-bottom: 42px;
}
.party-img-2{
    margin-top: 68px;
        width: 250.83px;
        height: 400.662px;
        padding-bottom: 67px;
}