/* Font style */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    /* background-color: white; */
}

header , .party , .place , .coming-soon , subscribe{
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
}

/* Header Style Section */

.banner {
    margin-top: 50px;
}
.banner-img{
    background-image: url('resources/Banner\ Image.png');
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px; 

}
.banner-content{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.banner-sub-title{
    padding-top: 177px;
    padding-bottom: 16px;
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-weight: 400;
}

.banner-title{
       
        color: #FFF;
        text-align: center;
        font-size: 72px;
        font-weight: 900;
        line-height: 95px;
        /* 131.944% */
}

 /* MAIN section */

/* Discount Section Style */

.discount{
        width: 60%;
        max-width: 1320px;
        margin: 0 auto;
}
.discount-img{
    height: 500px;
    padding-bottom: 120px;
}
.discount-title{
    color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 88px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 120px;
        padding-bottom: 48px;
}

.discount-des{
    color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 16px;
}
.discount-sub-title{
    color: #070211;
        text-align: center;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 48px;
}

/* Party Section Style */

.party-img{
    background-image: url('resources/Vectorrr.png');
  border-radius: 16px;
}
.party-content{
    display: flex;
    gap: 70px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    padding-left: 126px;
    padding-right: 70px;
}
.party-title{
    color: #FFF;
        font-family: Merriweather;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 88px;
        /* 137.5% */
        letter-spacing: 7.04px;
        padding-top: 126px;
        padding-bottom: 24px;
}
.party-des{
    color: rgba(255, 255, 255, 0.80);
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        /* 166.667% */
        padding-bottom: 48px;
}
.party-btn{
    color: #ffffff;
        font-family: Inter;
        font-size: 20px;
        text-transform: uppercase;
    margin-bottom: 42px;
}
.party-img-2{
    margin-top: 68px;
        width: 250.83px;
        height: 400.662px;
        padding-bottom: 67px;
}

/* Place , Date, Time style section  */

.place-title{
    color: #070211;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        text-transform: capitalize;
}
span{
    color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        /* 175% */
        text-transform: capitalize;
}
.place{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-top: 120px;
    margin-bottom: 120px;
}
.place-content{
    text-align: center;
    padding-top: 100px;
}
.place-btn{
    color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        display: inline-flex;
            padding: 16px 32px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            background: #F00;
            border: 0;
            margin-top: 48px;
            margin-bottom: 110px;
            
}

/* Coming Soon Style section  */

.coming-soon-container{
    display: flex;
    
    
    /* align-items: center; */
    
}
.soon-sub-title{
    color: #F00;
        /* text-align: center; */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}
.soon-title{
    color: #070211;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;
}
.soon-des{
    color: rgba(7, 2, 17, 0.60);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 160% */
}
.soon-img{
        width: 264.844px;
        height: 264.844px;
        border-radius: 364.844px;
        background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat;
        border-radius: 463px;
        border: 15px solid #F00;
        padding: 50px;
        background-color: white;
       
        
}
.soon-title2{
    color: #F00;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.soon-des{
    color: rgba(7, 2, 17, 0.60);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 160% */
}
.soon-img-2{
    /* width: 140px; */
    height: 140px;
}
.r{
    padding-left: 80px;
}

/* Subscribe Style Section */

.subscribe{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    margin-bottom: 120px;
}

.sub-img{
    width: 150px;
        height: 150px;
        flex-shrink: 0;
        padding-top: 80px;
        padding-bottom: 40px;
}

.sub-title{
    color: #070211;
        text-align: center;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;
        padding-bottom: 22px;
}
.sub-des{
    color: rgba(7, 2, 17, 0.60);
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 160% */
        padding-bottom: 48px;
}
.subscribe-container{
    text-align: center;
}
.email{
    color: rgba(7, 2, 17, 0.30);
    padding-left: 30px;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        width: 648px;
            height: 72px;
            flex-shrink: 0;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            background: #FFF;
            border: 0;
}
.input{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.sub-btn{
    color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        width: 210px;
            height: 72px;
            flex-shrink: 0;
            border-radius: 0px 50px 50px 0px;
            background: #F00;
            border: 0;
}

/* Footer Style Section is start */

footer{
    background: #070211;
}
.footer-content{
    display: flex;
    gap: 559px;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 50px;
}
.footer-title{
    color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        /* 166.667% */
}
.footer-hr{
    display: flex;
    /* justify-content: end;
    text-align: center; */
    margin-left: 80px;
    /* margin-right: 140px; */
    width: 1310px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
   
}
.phone-des{
    color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        /* 166.667% */
}
.phone{
    display: flex;
    gap: 16px;
    align-items: center;
}
.icons{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
}
.unsub{
    display: flex;
    gap: 880px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 120px;
    justify-content: center;
}
.unsub-title{
    color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}
.unsub-des{
    color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}